.main{
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        color: white;
        margin-bottom: 30px;
        
        img:hover{
            cursor: pointer;
        }

        .left{
            img{
                width: 200px;
            }
        }

        .center{
            font-family: $titles;
            width: 70%;
            nav{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 18px;
            }

        }
        
        .right{
            .flags{
                display: flex;
                img{
                    margin-right: 10px;
                    width: 30px;
                    box-sizing: border-box;
                    opacity: .7;
                }

                .selected{
                    border: 2px solid white;
                    border-radius: 50%;
                    opacity: 1;
                }
            }
        }
    }

    @media only screen and (max-width:768px){
        .left{
            padding: 0 50px;

            img{
                width: 100%;
            }
        }
    }
}