.main{
    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        color: white;

        .right{
            h1{
                font-family: $titles;
            }

        }

        .left{
            font-family: $titles;
        }

    }
}